@charset "UTF-8";
@font-face {
    font-family: minhaFonte;
    src: url(/minhaFonte/minhafonte.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;

    width: 100vw;
    
}

h1 {
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#sectionContainer {
    background-color: chocolate;

    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-evenly;

    width: 460px;
    height: 400px;
    padding: 20px;
}

#formulario, input {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
    width: 100px;
    margin: 10px;
    font-size: 1.2em;
}

footer {
    margin-top: 10px;
    padding: 5px;
}
footer p, a {
    text-decoration: none;
    color: black;
    font-family: minhaFonte;
    text-shadow: -1px 1px 16px black;;
}
a:hover {
    color: red;
    text-decoration: line-through;
    text-shadow: -1px 1px 16px red;
}


